
<form asp-action="Add" method="post">
    <input type="text" placeholder="Name" />
    <input type="text" placeholder="Surname" />
    <input type="text" placeholder="Experience" />
    <input type="submit" value="Add"/>
</form>